body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('gym-background.jpg'); /* Add your gym background image here */
    background-size: cover;
    color: #ffffff;
}

header {
    background: rgba(53, 66, 74, 0.8);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
 }

main {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
}

h2 {
    color: #ffffff;
}

.action-button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.action-button:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(53, 66, 74, 0.8);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width : 100%;
}
